/* Main */

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#webview {
	position: absolute;
	top: 79px;
	/* top: 85px; */
	left: 0;
	width: 100%;
	height: calc(100% - 79px);
	display: inline-flex !important;
	overflow: auto;
}
.full {
	top: 0 !important;
	height: 100% !important;
}
